<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.a.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>


    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!--往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"></uses-permission>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".MainActivity"></activity>

        <activity android:name=".activity.app.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 登录 -->
        <activity android:name=".activity.app.LoginActivity">

        </activity>

        <!-- 完善资料 -->
        <activity android:name=".activity.PerfectInformationActivity"></activity>

        <!-- 注册 -->
        <activity android:name=".activity.app.RegisterActivity"/>

        <!-- 忘记密码 -->
        <activity android:name=".activity.app.ForgetPassWordActivity"/>

        <!-- 绑定手机号 -->
        <activity android:name=".activity.app.BingDingPhoneActivty"/>

        <!-- 修改密码 -->
        <activity android:name=".activity.app.ChangPassWordActivty"/>

        <!-- 意见反馈 -->
        <activity android:name=".activity.app.FeedBackActivty"/>

        <!-- 测试 -->
        <activity android:name=".activity.TestActivity"/>

        <!-- 我的订单 -->
        <activity android:name=".activity.MyOrderActivity"/>

        <!-- 我的粉丝 -->
        <activity android:name=".activity.MyFansActivity"/>

        <!-- 我的收藏 -->
        <activity android:name=".activity.MyCollectActivity"/>

        <!-- 设置 -->
        <activity android:name=".activity.app.SettingActivity"/>

        <!-- 积分记录 -->
        <activity android:name=".activity.IntegralActivity"/>

        <!-- 购物车 -->
        <activity android:name=".activity.ShopActivity"/>

        <!-- -更换资料 -->
        <activity android:name=".activity.MyProFileActivity"/>

        <!-- 消息 -->
        <activity android:name=".activity.MessageActvity"/>

        <!-- 推荐列表 -->
        <activity android:name=".activity.RecommendListActivity"/>

        <!-- 筛选 -->
        <activity android:name=".activity.screen.ScreenActivity"/>

        <!-- 品牌筛选 -->
        <activity android:name=".activity.screen.ScreenBrandActivity"/>

        <!-- 流行筛选 -->
        <activity android:name=".activity.screen.ScreenFashionActivity"/>

        <!-- 品类的一级筛选 -->
        <activity android:name=".activity.screen.ScreenCategoryActivity"/>

        <!-- 品类的二级筛选 -->
        <activity android:name=".activity.screen.ScreenCategoryTowActivity"/>

        <!-- 颜色的筛选 -->
        <activity android:name=".activity.screen.ScreenColorActivity"/>

        <!-- 风格筛选 -->
        <activity android:name=".activity.screen.ScreenStyleActivity"/>

        <!-- 求单品详情 -->
        <activity android:name=".activity.ProductDetailsActivity"/>

        <!-- 单品详情 -->
        <activity android:name=".activity.ProductDetailsTwoActivity"/>

        <!-- 图片查看 -->
        <activity android:name=".activity.lib.ShowBigPictrue"/>

        <!-- 确认支付 -->
        <activity android:name=".activity.ConfirmAnOrderActivity"/>

        <!-- 地址列表 -->
        <activity android:name=".activity.LocationActivity"/>

        <!-- 编辑地址 -->
        <activity android:name=".activity.EditAddressActivity"/>

        <!-- 添加商品 -->
        <activity android:name=".activity.AddShopActivity"/>

        <!-- 全部评论 -->
        <activity android:name=".activity.AllcommentActivity"/>

        <!-- 订单详情 -->
        <activity android:name=".activity.OrederDetailsActivity"/>

        <!-- 二维码 -->
        <activity android:name=".activity.QRPayActivity"/>

        <!--我的关注-->
        <activity android:name=".activity.MyWatchlistActivity"></activity>

        <activity android:name=".activity.stylist.ProductTitleMessageActivity"/>
        <activity android:name=".activity.CommentListActivity"/>
        <activity android:name=".activity.stylist.SingleProductDetailsActivity"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>